@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 79px;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
  }

  .researches {
    margin-top: 37px;
    display: flex;
    flex-direction: column;
    flex-wrap: 1;
    gap: 40px;
 /* border: 1px solid red; */
  }
  .researchItem{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* flex-direction: row;
    align-items: center;
    gap: 17px; */
    background: #19376d;
    background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
    border-radius: 10px;
    padding: 24px;
  }

  .link {
    color: white;
  }